# Core functionality - changes here should be rare!
/src/app.py                   @abdulsalamalshuaibi
/src/backend/database.py      @abdulsalamalshuaibi
/src/backend/routers/auth.py  @abdulsalamalshuaibi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @abdulsalamalshuaibi
